
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
  background: #0c0d0e;
  background: -webkit-linear-gradient(right, #515059, #0c0d0e);
  background: -moz-linear-gradient(right, #515059, #0c0d0e);
  background: -o-linear-gradient(right, #515059, #0c0d0e);
  background: linear-gradient(to right, #515059, #0c0d0e);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  color: white;
}



.wrapper{
    max-width: 1570px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-gap: 7px;
    grid-template-columns: 200px repeat(8, 1fr);
    grid-template-rows: 40px 40px repeat(5, 120px);
	box-shadow: 0 0 20px black;
	/* opacity: 0.92; */
}

@media (max-width: 600px) {
  body { 
	background: red; 
  }
  .wrapper{
    grid-gap: 2px;
    grid-template-columns: repeat(9, 1fr);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
  }
}




.logo{
    background-color: #0D0B27;
	color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
	box-shadow: 0 0 20px black;
}





.menu{
    background-color: #0D0B27;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;

    /* -1 means it will take all the available space  */
    grid-column: 5 / -1;
	box-shadow: 0 0 20px black;
	overflow: hidden;
    text-overflow: ellipsis;
}

.menu-list{
    list-style: none;
    display: flex;
}

.menu-list_item{
    flex-grow: 1;
}

.menu-list_link{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.menu-list_link:hover{
    background-color: #512212;
}
@media (max-width: 600px) {
  .menu{
    grid-column: 2 / -1;
  }
}


.breadcrumb{
    background-color: #0D0B27;
	/* color: white; */
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    grid-row: 2;
    /* -1 means it will take all the available space  */
    grid-column: 2 / -1;
	overflow: hidden;
    /* text-overflow: ellipsis; */
}

.breadcrumb-list {
    margin: 10px 10px 10px 25px;
    list-style: none;
    display: block;
	white-space: nowrap;
	overflow: hidden;
    /* text-overflow: ellipsis; */
}

.breadcrumb-list_item {
    display: inline-block;
    *display: inline;
}

.breadcrumb-list_link{
    display: inline;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:visited {
    color: orange;
}

a:link {
    color: white;
}

a:hover {
    color: wheat;
}

.sidebar-left {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #0D0B27;
    grid-row: 3 / 20;
    grid-column: 1;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
}

.hero-text{
    background-color: #f90;
    grid-row: 3 / 7;
    grid-column: 2 / 10;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
}

@media (max-width: 600px) {
  .sidebar-left { 
    grid-row: 7 / 10 ;
    grid-column: 1 / 10;
	flex-direction: column;
  }
}
@media (max-width: 600px) {
  .hero-text { 
    grid-column: 1 / 10;
  }
}


.login-page {
  width: 320px;
  margin: auto;
}
@media (max-width: 600px) {
  .login-page { 
	width: auto;
  }
}
.form {
  /* position: relative; */
  /* z-index: 1; */
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0c0d0e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #512212;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0c0d0e;
  text-decoration: none;
}
.form .register-form {
  display: none;
  /* display: content; */
}
.form .login-form {
  /* display: none; */
  display: content;
}


.container{
    display: flex;
    align-items: center;
    grid-column: 3 / 9;
}

.container-one{
    grid-row: 7 / 10;
	overflow: hidden;
}

.container-two{
    grid-row: 11;
	overflow: hidden;
}

.container-three{
    grid-row: 12;
	overflow: hidden;
}

.container-text{
    padding: 16px 32px;
}

@media (max-width: 600px) {
  .container-one { 
    grid-row: 12 / 14 ;
    grid-column: 1 / 10;
	flex-direction: column;
	overflow: hidden;
  }
}

@media (max-width: 600px) {
  .container-two { 
    grid-row: 15 ;
    grid-column: 1 / 10;
	flex-direction: column;
	overflow: hidden;
  }
}

@media (max-width: 600px) {
  .container-three { 
    grid-row: 16 ;
    grid-column: 1 / 10;
	flex-direction: column;
	overflow: hidden;
  }
}

#list h4 {
    font-size: 14px;
    margin: inherit;
	padding: inherit;
}
#list ul {
    margin: inherit;
	padding: 10px 0px 10px 8px;
    list-style: none;
}



.footer{
    margin-top: 2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-item{
    flex-grow: 1;
    padding: 32px 0;
    background-color: #f90;
}
